.NavBar-Wrapper {
  height: 70px;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  font-size: 14px;
  position: fixed;
  width: 100%;
  background: #fff;
  padding-bottom: 65px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0,3,51,0.04);
  box-shadow: 10px 10px 5px -6px rgba(0,3,51,0.04);
  z-index: 99999999;
}

.Cart-Info {
  position: relative;
}

.Cart-Item-Counter {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #a864a8;
  font-size: 9px;
  line-height: 14px;
  top: -5px;
  left: 13px;
}
.Logo-Font{
    font-weight: bold;
    font-size: 18px;
    border: solid 2px;
    padding: 10px;
    border-radius: 3px;
}